<%- include("partials/header"); -%>

<h1>Home</h1>

<p> <%= startingContent %> </p>

<a class="btn btn-success" href="/compose">+ Compose</a>

<% posts.forEach(function(post){ %>
  <h3> <%= post.title %> </h3>
  <p> <%= post.content.substring(0, 100) + "..."; %> <a href="/post/<%= post.title %>">Read More</a></p>
<% }); %>

<%- include("partials/footer"); -%>
